
.body section{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content :center;
    z-index: 555;
    align-items: center;
    margin: auto;
    background-color: transparent;
}
@media screen and (max-width : 720px) {
    .body section{
        width: 100%;
    }
}