.sperater {
    background-image: linear-gradient(to right top, #00d134, #0eac00, #d33d3d, #d6ee6d, #78a0eb, #71abf1, #6bb5f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin: 16px ;

    display:flex;
    margin-left: 0;
    height: 10px;
    width : 40%;
    border-radius: 3px;
    animation: animate 5s linear infinite;
    
 
}
@keyframes animate {
    0% {
        width : 40%;
    }

    50% {
        width : 100%;
    }

    0% {
        width : 40%;
    }
}