.about  {
    padding-left : 16px;
    padding-bottom : 40px;
    align-Items : center;
    padding-top :30px;
    
}
.aboutTop  {
    display : flex;
    flex-direction : row ;
    justify-content : space-between;
    align-items : center;
}
.imgg {
    
    height : 280px
}
.text {
    color: black;
    font-size: 24px;
}
.name {
        font-size: 32px;
    color : rgb(39, 17, 238);
}
@media only screen  and (max-width:800px) {
 
    
    .aboutTop {
        flex-direction : column ;
        justify-content :center ;
        align-items : center ;
    }
   .imgg{
       height : 160px;
   }
   .text {
       
       font-size : 20px;
   }
   .name  {
       font-size : 26px;
   }
}
    